---
layout: default
title: Eventos Realizados
legend: image-page
---
    <h3 class="pg-title">Eventos realizados</h3>
    <p class="text-center">Por orden de más reciente a más antiguo</p>
    {% include image_legend.html %}
    {% for item in site.data.events_held %}
    {{ item.elementAnimation }}
      <div class="pb-4">
        <div class="post title-border family-oswald container-fluid d-flex flex-column">
          <h3 class="my-4">{{ item.name }}</h3>
          <div class="d-flex flex-column align-items-center link-image-container">
            <span id="{{ item.elementAnimation }}"
                  class="op-0 position-absolute"
                  onmouseover="enableAnimation('#{{ item.elementAnimation }}', '{{ item.animation }}')">
              {% if item.pageLink != ''%}
                <a  target="_self" href="{{item.pageLink}}">
                  <i class="fa fa-external-link color-white" aria-hidden="true"></i>
                </a>
                {% endif %}
              {% if item.pageLink == ''%}
                <a target="_blank" href="{{ item.image }}">
                  <i class="fa fa-search color-white" aria-hidden="true"></i>
                </a>
              {% endif %}
            </span>
            <img src="{{ item.image }}"
                class="mx-auto img-fluid col-8 pb-4"
                onmouseover="enableAnimation(('#{{ item.elementAnimation }}'), '{{ item.animation }}')"
                onmouseleave="disableAnimation('#{{ item.elementAnimation }}', '{{ item.animation }}')">
          </div>
        </div>
      </div>
    {% endfor %}
