---
layout: default
title: Medios
relativePath:
---
<h3 class="pg-title">Akorcheas en los medios de comunicación</h3>

<div class="py-4">
  <div class="post title-border family-oswald container-fluid d-flex flex-column">
    <div class="d-flex flex-column family-montserrat">
      <p class="post-paragraph text-left">
        Uno de los puntales de Akorcheas es que mueve todos sus eventos en medios de comunicación.
      </p>
      <p class="post-paragraph text-left">
        Además, Carmen, la Presidenta, colabora en Radio21 con Ritmo Oeste, dedicada a la música y los músicos de la
        Sierra Oeste de Madrid, en la que da difusión mediante entrevistas a los artistas locales, muchos de ellos,
        socios de Akorcheas.
      </p>
      <p class="post-paragraph text-left">
        Aquí os dejamos algunos ejemplos:
      </p>
      <h3 class="family-oswald d-flex my-4">
        MEDIOS VARIOS
      </h3>
      <ul class="media-list">
        {% for item in site.data.media %}
          {% if item.type != "radioOeste" %}
            {% if item.type == "link" %}
              <li>
                <a target="_blank"
                  href="{{ item.link }}">
                  {{ item.name }}:
                </a>
              </li>
            {% endif %}
            {% if item.type == "image" %}
              <li>
                {{ item.name }}:
                <div class="d-flex flex-column align-items-center link-image-container mt-5">
                  <a class="d-flex link-image" target="_blank" href="{{ item.link }}">
                    <img src="{{ item.link }}" class="mx-auto img-fluid col-8 pb-4">
                  </a>
                </div>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="py-4">
  <div class="post title-border family-oswald container-fluid d-flex flex-column">
    <h3 class="family-oswald d-flex- felx-column align-items-center my-4">
      RADIO 21 - RITMO OESTE
    </h3>
    <div class="post-media-logo">
      <img class="p-0" src="assets/img/medios/ritmo_oeste.png" class="mx-auto img-fluid col-8 pb-4">
    </div>
    <ul class="media-list family-montserrat">
      {% for item in site.data.media %}
          {% if item.type == "radioOeste" %}
            <li>
              <a target="_blank"
                href="{{ item.link }}">
                {{ item.name }}:
              </a>
            </li>
          {% endif %}
        {% endfor %}
    </ul>
  </div>
</div>