---
layout: default
title: Próximos eventos
legend: image
relativePath:
---

<h3 class="pg-title">Próximos eventos</h3>
{% include image_legend.html %}
<div class="pb-4">
  <div class="post container-fluid d-flex flex-column">
    <h4 class="text-center">Estate atento a los próximos eventos!!!</h4>
    <h5 class="text-center mb-4">No olvides q puedes contactarnos para recibir noticias de akorcheas o asociarte en la sección de
        <a href="contacto.html">contacto</a>
    </h5>
    <h5 class="text-center family-montserrat">Desde Akorcheas empezamos fuerte el año nuevo... </h5>
    <div class="text-center mb-4">
      Calendario eventos: {% for calendarItem in site.data.calendar %}
                            {% if forloop.length > 0 %}
                              <a href="#{{calendarItem.id}}">{{calendarItem.date}}</a>
                              {% unless forloop.last %},{% endunless %}
                            {% endif %}
                          {% endfor %}
    </div>
  </div>
  {% for item in site.data.next_events %}
    <div id="{{ item.calendarId }}" class="pb-4">
      <div class="post title-border family-oswald container-fluid d-flex flex-column">
        <h3 class="my-4">{{item.title}}</h3>
        {% for itemMessage in item.messages %}
          <h5 class="{{itemMessage.class}}">{{itemMessage.text}}</h5>
        {% endfor %}
        {% include image_link.html image = item.image %}
      </div>
    </div>
  {% endfor %}
</div>