---
layout: default
title: Quienes somos
legend: image
relativePath:
---

<h3 class="pg-title">Quienes somos</h3>
{% include image_legend.html %}
<div class="pb-4">
  <div class="post title-border family-oswald container-fluid d-flex flex-column">
    <h3 class="my-4">INFORMACIÓN GENERAL DE AKORCHEAS</h3>
    <div class="d-flex flex-column align-items-center family-montserrat">
      <p class="post-paragraph">
        Akorcheas es una Asociación Musical sin ánimo de lucro nace en un entorno privilegiado. La Sierra Oeste de
        Madrid, repleta de tesoros naturales, culturales y humanos, cada vez más rica y diversa, es el espacio perfecto
        para el encuentro vecinal y el desarrollo de las artes, como la MÚSICA.
      </p>
      <p class="post-paragraph">
        En este contexto en constante ebullición, tiene su origen Akorcheas. Una Asociación de músicos, técnicos,
        profesionales y amantes de la música en general, que desean participar en la creación y gestión de espacios de
        música de calidad, con un amplio abanico que comprende desde las músicas tradicionales de la zona hasta las
        últimas tendencias.
      </p>
    </div>
  </div>
</div>

<div class="pb-4">
  <div class="post title-border family-oswald container-fluid d-flex flex-column">
    <h3 class="mb-4">NUESTROS OBJETIVOS</h3>
    <div class="d-flex flex-column family-montserrat">
      <ul>
        <li>Promover la cultura y el lenguaje musical como medio de expresión artística</li>
        <li>Crear espacios musicales y de ocio juvenil en los municipios de la región</li>
        <li>Crear un entorno de personas proactivas interesadas en promover la cultura musical</li>
        <li>Fomentar una red de encuentro de artistas, establecer sinergias</li>
        <li>Colaborar en la organización de encuentros y festivales musicales y culturales locales</li>
        <li>Crear una red de lugares públicos y privados donde, durante todo el año, los músicos de la sierra oeste
          puedan tocar en condicione dignas, y l@s vecinos puedan disfrutar de música en directo de calidad</li>
        <li>En definitiva, buscamos que municipios, músicos, vecin@s, negocios locales, escuelas de música... se
          beneficien de nuestra actividad, potenciando la sierra oeste y cuidando el entorno.</li>
      </ul>
    </div>
  </div>
</div>

<div class="pb-4">
  <div class="post title-border family-oswald container-fluid d-flex flex-column">
    <h3 class="mb-4">CÓMO LO CONSEGUIMOS? </h3>
    <div class="d-flex flex-column family-montserrat">
      <p class="post-paragraph">
        Akorcheas es un paraguas para que soci@s (músicos o aficionados) y colaboradores no asociados, junto a
        instituciones públicas y privadas, locales de hostelería, etc… Podamos conseguir que, durante todo el año y no
        sólo en verano, haya una red y un circuito musical en todos los pueblos de la sierra oeste. Y mucho más:
      <ul>
        <li>Realizar encuentros</li>
        <li>Programar conciertos</li>
        <li>Realizar talleres</li>
        <li>Crear red de artistas, profesionales y aficionados</li>
        <li>Difundir la cultura musical</li>
        <li>Crear espacios culturales y musicales, salas de ensayo, etc.</li>
      </ul>
      </p>
    </div>
  </div>
</div>

<div class="pb-4">
  <div class="post title-border family-oswald container-fluid d-flex flex-column">
    <h3 class="mb-4">SI ERES MÚSICO O PROFESIONAL: </h3>
    <div class="d-flex flex-column family-montserrat">
      <p class="post-paragraph">
        Siendo socio, pasas a formar parte de una red de músicos y profesionales de la que pueden salir sinergias,
        colaboraciones, eventos… Puedes considerar Akorcheas como un paraguas donde hacer llegar tus iniciativas,
        inquietudes, necesidades… Y realizarlas entre todos con los medios de Akorcheas y el apoyo de l@s soci@s.
      </p>
      <p class="post-paragraph">
        Akorcheas tiene entre sus finalidades:
      <ul>
        <li>Crear espacios públicos y privados para que puedas actuar, darte a conocer, ensayar…</li>
        <li>Poner a tu disposición equipo de sonido técnico y humano para que puedas tocar</li>
        <li>Crear eventos donde nuestros asociados puedan actuar</li>
        <li>Dignificar el sueldo de los músicos, encontrando diferentes fórmulas para ofrecer siempre las mejores
          condiciones</li>
        <li>Difundir la cultura musical</li>
        <li>Mover tus conciertos y proyectos (en medios de comunicación, radio, prensa, redes, grupos de la zona,
          contactos, etc)</li>
      </ul>
      </p>
      <p class="post-paragraph">
        Asociarse cuesta 4 € al mes (en dos pagos semestrales o uno anual).
      </p>
    </div>
  </div>
</div>
<div class="pb-4">
  <div class="post title-border family-oswald container-fluid d-flex flex-column">
    <h3 class="mb-4">SI ERES AMANTE DE LA MÚSICA: </h3>
    <div class="d-flex flex-column family-montserrat">
      <p class="post-paragraph">
        Asociándote tendrás descuento y gratuidad en los eventos, conciertos y talleres que organice Akorcheas, además
        de capacidad de decisión y voto en lo que se organice, y la posibilidad de participar activamente en las labores
        de la Asociación. También acceso a eventos privados exclusivos para socios. Asociarse cuesta 4 € al mes (en dos
        pagos semestrales o uno anual).
      </p>
      <p class="post-paragraph">
        Y, aunque no seas socio, también puedes colaborar con el desarrollo del panorama y circuito musical de la sierra
        Oeste, contáctanos! Seguro que encontramos la forma de trabajar juntos para que la sierra se llene de buena
        música, talleres y alternativas de ocio interesantes!
      </p>
    </div>
  </div>
</div>
<div class="pb-4">
  <div class="post title-border family-oswald container-fluid d-flex flex-column">
    <h3 class="mb-4">SI ERES UNA INSTITUCIÓN PÚBLICA:</h3>
    <div class="d-flex flex-column family-montserrat">
      <p class="post-paragraph">
        Cuenta con Akorcheas para realizar eventos en tus fiestas patronales, o para gestionar espacios en los que
        realizar talleres o actuaciones sin ánimo de lucro (por ejemplo, locales de ensayo), programar eventos…
        Colaborar mano a mano en dar visibilidad a tu municipio y crear espacios culturales para los vecinos.
      </p>
      <p class="post-paragraph">
        Akorcheas ya tiene experiencia colaborando con municipios en fiestas patronales, inauguraciones, etc.
        ¡Contáctanos!
      </p>
    </div>
  </div>
</div>
<div class="pb-4">
  <div class="post title-border family-oswald container-fluid d-flex flex-column">
    <h3 class="mb-4">SI ERES UNA INSTITUCIÓN PRIVADA O TIENES UN LOCAL: </h3>
    <div class="d-flex flex-column family-montserrat">
      <p class="post-paragraph">
        Hay muy diversas maneras de colaborar juntos, desde la esponsorización en eventos (donde publicitaremos tu
        negocio, la opción ideal para empresas locales, tiendas de música, escuelas privadas de música, estudios de
        producción, etc) hasta celebrar eventos en tu local, si lo tienes.
      </p>
      <p class="post-paragraph">
        Puedes contar con Akorcheas para que organicemos algún evento que revierta en beneficio para tu local, sin tener
        que invertir en equipo de sonido, nos ocupamos de todo, a “mesa puesta”:
      <ul>
        <li>Buscamos actividades (conciertos, jam, talleres) que puedan ir bien con tu negocio</li>
        <li>Nos ocupamos de todo de principio a fin: selección de artistas, montaje y desmontaje de sonido, el sonido
          del concierto, moverlo en redes…</li>
        <li>Atraeremos nueva gente a tu negocio, dándote a conocer a un nuevo público</li>
        <li>Publicitamos el evento</li>
        <li>Hacemos que tu local se llene</li>
        <li>Te ponemos en el mapa de la música en directo</li>
      </ul>
      </p>
      <p class="post-paragraph">¡Contáctanos y lo hablamos!</p>
    </div>
  </div>
</div>

<h3 class="my-4 text-center family-oswald">EQUIPO ORGANIZADOR AKORCHEAS:</h3>
{% for person in site.data.who_are %}
<div class="pb-4">
  <div class="post title-border family-oswald container-fluid d-flex flex-column">
    <h3 class="my-4">{{ person.name}} - {{ person.job }}</h3>
    <div class="post family-montserrat container-fluid d-flex flex-md-row flex-column">
      <div class="col-12 col-md-3 d-flex flex-column align-items-center text-center link-image-container">
        {% include image_link.html image = person.image %}
      </div>
      <div class="col-12 col-md-9 mt-3 mt-3 mt-md-0 d-flex flex-column justify-content-md-center">
        {% for message in person.messages %}
          <p class="post-paragraph">
            {{ message }}
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endfor %}