---
layout: default
title: Quienes somos
legend: image
relativePath:
---

<h3 class="pg-title">Quienes somos</h3>
{% include image_legend.html %}
{% for text in site.data.who_are %}
<div class="pb-4">
  <div class="post title-border family-oswald container-fluid d-flex flex-column">
    <h3 class="my-4">{{ text.title }}</h3>
    <div class="d-flex flex-column justify-content-start family-montserrat">
      {% if text.paragraphs %}
        {% for paragraph in text.paragraphs %}
          <p class="post-paragraph">{{ paragraph }}</p>
        {% endfor %}
      {% endif %}
      {% if text.list != nil%}
        <div class="post-paragraph">
          <ul>
            {% for listItem in text.list %}
              <li>{{ listItem }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if text.paragraphs2 %}
        {% for paragraph in text.paragraphs2 %}
          <p class="post-paragraph">{{ paragraph }}</p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
<h3 class="my-4 text-center family-oswald">EQUIPO ORGANIZADOR AKORCHEAS:</h3>
{% for personDetail in site.data.board %}
  {% include person.html person = personDetail %}
{% endfor %}