<div class="d-flex flex-column align-items-center link-image-container">
  <span id="{{ include.image.elementAnimation }}"
        class="op-0 position-absolute"
        onmouseover="enableAnimation('#{{ include.image.elementAnimation }}', '{{ include.image.animation }}')">
    {% if include.image.pageLink %}
      <a  target="_self" href="{{include.image.pageLink}}">
        <i class="fa fa-external-link color-white" aria-hidden="true"></i>
      </a>
    {% else %}
      <a target="_blank" href="{{ include.image.imageUrl }}">
        <i class="fa fa-search color-white" aria-hidden="true"></i>
      </a>
    {% endif %}
  </span>
  <img class="mx-auto img-fluid col-8 pb-4"
      alt="{{ include.image.alt }}"
      src="{{ include.image.imageUrl }}"
      onmouseover="enableAnimation('#{{ include.image.elementAnimation }}', '{{ include.image.animation }}')"
      onmouseleave="disableAnimation('#{{ include.image.elementAnimation }}', '{{ include.image.animation }}')">
</div>