<div class="post d-flex justify-content-center pb-5">
  {% assign videoFolder = site.data.constants.eventsHeldUrl %}
  {% if page.title == 'Inicio'%}
    {% assign videoId = 'home' %}
  {% else '%}
    {% assign videoId =  include.video.eventId %}
  {% endif '%}
  {% capture videoUrl %}{{ page.relativePath }}{{ videoFolder }}carousel/{{ videoId }}/{{ videoId }}_v1.mp4{% endcapture %}
  <video controls class="col-10">
    <source src="{{ videoUrl }}" type="video/mp4">
    <a href="{{ videoUrl }}">Descargar video</a>
  </video>
</div>