
/* ==========================================================================
  FOOTER
========================================================================== */

.empty-container{
    height: 98px;
  }
  .footer {
    background-color: #000;
    color: #808080;
    position: fixed;
    bottom: 0;
    z-index: 100;
  }
  .image-footer{
    font-size: 12px;
    text-align: center;
  }
  .newsletter a,
  .footer a {
    text-decoration: none;
  }
  .newsletter .form-floating>label {
    color: #666;
  }
  .footer a {
    color: white;
  }
  .newsletter .btn-primary {
    color: black;
    background-color: white;
    border-color: white;
  }
