/* ==========================================================================
  FOOTER
========================================================================== */

.empty-container {
  height: 130px;
}

.footer {
  background-color: #000;
  color: #808080;
  position: fixed;
  bottom: 0;
  z-index: 100;
  a {
    text-decoration: none;
    color: white;
  }
  .cc-akorcheas{
    font-size: 0.8em;
  }
}
