/* ==========================================================================
  HEADER
========================================================================== */
.header-color {
  background-color: #e20613 !important;
  color: white;
}

nav {
  &.navbar {
    @extend .header-color;
    position: fixed;
    top: 0;
    z-index: 100;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.49);

    .logo-container {
      @extend .header-color;
      max-width: 350px;
      margin-right: 20px;

      .logo-image-container {
        height: 70px;
        width: 350px;
        color: white !important;

        .logo {
          height: 70px;
          padding: 8px;
        }

        .title {
          /* font-family: 'IM Fell Double Pica', serif; */
          font-family: 'Montserrat', sans-serif;
          font-size: 1.4em;
        }
      }
    }

    .navbar-nav {
      &.show>.nav-link {
        color: #333 !important;
        font-weight: bolder;
      }

      .nav-link {
        /* font-family: 'IM Fell Double Pica', serif !important; */
        font-family: 'Montserrat', sans-serif !important;
        font-size: 1em !important;
        color: white !important;

        &.active {
          color: #333 !important;
          font-weight: bolder;
        }
      }
    }
  }
}
/* ==========================================================================
  EXAMPLE Media Queries for Responsive Design.
  These examples override the primary ('mobile first') styles.
  Modify as content requires.
========================================================================== */
/* Extra small */
@media only screen and (max-width: 767px ) {
  .logo-container  {
    width: 250px!important;
    .title {
      font-size: 1em!important;
    }
  }
}