/* ==========================================================================
  NEWSLWTTER
========================================================================== */
.newsletter .btn.btn-danger {
	background-color: #e20613 !important;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.newsletter .agree-content {
	font-size: 12px;
}