/* ==========================================================================
  Colors & fonts classes
========================================================================== */

.family-oswald{
    font-family: 'Oswald', sans-serif;
  }
  .family-montserrat{
    font-family: 'Montserrat', sans-serif;
  }
  .bg-color-yellowgreen{
    background-color: yellowgreen;
  }
  .bg-color-white{
    background-color: white;
  }
  .bg-color-red{
    background-color: #e20613!important;
  }
  .color-yellowgreen{
    color: yellowgreen;
  }
  .color-white{
    color: white;
  }
  .color-red{
    color: #e20613!important;
  }