---
layout: default
title: jam_2022_12_10
legend: image
relativePath: ../
---
<h3 class="pg-title">Jam 10 Diciembre 2022</h3>

<div class="pb-5 mt-5">
  <div class="post family-oswald container-fluid d-flex flex-row">
    <div class="col-3 d-none d-md-block d-flex flex-column align-items-center link-image-container">
      <a class="d-flex link-image" target="_blank" href="../assets/img/eventos_realizados/jam_2022_12_10.jpg">
        <img src="../assets/img/eventos_realizados/jam_2022_12_10.jpg"
              alt="Imagen cartel Jam 10 Diciembre 2022"
              class="mx-auto img-fluid col-8 pb-4">
      </a>
    </div>
    <div class="post-text col-12 col-md-9 d-flex flex-column justify-content-md-center text-center text-md-start">
      <p>La jam session ha sido un exitazo… Gracias a ti!</p>
      <p>Esa noche lo pasamos realmente bien en la segunda Jam Session organizada por Akorcheas Asociación Musical en
        Espacio Sin Antena !!!</p>
      <p>Muchas gracias a todxs lxs que os animásteis a pasaros, ya fuese tocando o disfrutando del buen rollo y el
        musicón!!!</p>
      <p>Y, a quienes no pudísteis acercaros en esta ocasión, no os preocupéis, os avisaremos de la siguiente…</p>
    </div>
  </div>
</div>
<div class="post d-flex justify-content-center pb-5">
  <video controls class="col-10">
    <source src="../assets/eventos_realizados/jam_2022_12_10/jam_2022_12_10_v1.mp4" type="video/mp4">
    <a href="../assets/eventos_realizados/jam_2022_12_10/jam_2022_12_10_v1.mp4">Descargar video</a>
  </video>
</div>

<h3 class="text-center">Carrusel imágenes</h3>
<div class="post d-flex justify-content-center mb-5">
  <div class="post-carousel col-xl-8 col-md-10">
    <div id="carouselPost" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        {% for i in (0..9) %}
          <button type="button" data-bs-target="#carouselPost" data-bs-slide-to="{{ i }}" aria-label="Slide {{ i | plus: 1 }}"
          {% if i == 0 %}class="active" aria-current="true"{% endif %}></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for i in (1..10) %}
          <div class="carousel-item {% if i == 1 %}active{% endif %}">
            <img class="d-block" src="../assets/eventos_realizados/jam_2022_12_10/jam_2022_12_10_{{ i }}.jpg" alt="Slide {{ i }}">
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPost" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPost" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>